@page "/import"
@inject DataSource DataSource
@inject NavigationManager NavigationManager

<Nav ShowHome="true" Title="Import" />

<p><InputFile OnChange="File_Change" /></p>

@if (_lastSelectedFile is not null)
{
    <table>
        <tr>
            <th>File column:</th>
            @foreach (var col in _fileColumns!)
            {
                <th>@col</th>
            }
        </tr>

        <tr>
            <th>Map to:</th>

            @for (var i = 0; i < _columns.Count; i++)
            {
                var index = i;
                var currValue = _columns[index];
                <td>
                    <InputSelect @bind-Value:get="currValue" @bind-Value:set="(val) => { _columns[index] = val; }">
                        <option>@nameof(Field.Symbol)</option>
                        <option>@nameof(Field.Date)</option>
                        <option>@nameof(Field.Quantity)</option>
                        <option>@nameof(Field.Value)</option>
                        <option>@nameof(Field.Type)</option>
                        <option>@nameof(Field.Ignore)</option>
                    </InputSelect>
                </td>
            }
        </tr>
    </table>
}

<button @onclick="DoImport">Import</button>
@if (_buttonClicked && _lastSelectedFile is null)
{
    <p style="color: red">Please select a file to import</p>
}
