@page "/report"
@inject DataSource Data

@using Microsoft.AspNetCore.Components.QuickGrid

<Nav ShowHome="true" Title="Report" />

<InputSelect @bind-Value="_selectedYear">
    @for (var y = DateTime.Now.Year; y >= 2000; y--)
    {
        <option value="@y">@(y)/@((y + 1) % 100)</option>
    }
</InputSelect>
<button @onclick="View_Click">View</button>

@if (_report is not null)
{
    foreach (var report in _report)
    {
        <h3>@report.TaxYear</h3>

        foreach (var (sale, buys) in report.Sales)
        {
            <p><b>Sold @sale.Quantity.ToString("0.####") of @sale.Symbol for @sale.Value.ToString("$#,##0.00") on @sale.Date.</b></p>
            <ol>
                @foreach (var buy in buys)
                {
                    <li>Bought @buy.Quantity.ToString("0.####") for @buy.Value.ToString("$#,##0.00") on @buy.Date@(buy.Id == Guid.Empty ? " (partial sale)" : "")</li>
                }
            </ol>
        }
    }
}

@code {
    private List<CgtReport>? _report;
    private int _selectedYear = DateTime.Now.Year - 1;

    private async Task View_Click()
    {
        _report = await CgtReportCreator.CreateAsync(this.Data, _selectedYear).ConfigureAwait(false);
    }
}
