@page "/"
@page "/transactions"
@inject DataSource Data
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore;

<Nav ShowHome="false" Title="Transactions" />

<button @onclick="Add_Click">Add Transaction</button>
<button @onclick="Import_Click">Import</button>

<QuickGrid Items="_transactions">
    <PropertyColumn Property="t => t.Date" Format="d MMM yyyy" Sortable="true" IsDefaultSort="SortDirection.Descending" />
    <PropertyColumn Property="t => t.Type" />
    <PropertyColumn Property="t => t.Symbol" />
    <TemplateColumn Title="@nameof(Field.Quantity)">
        <span class="quantity @context.Type.ToString().ToLower()">@context.Quantity.ToString("0.####")</span>
    </TemplateColumn>
    <TemplateColumn Title="@nameof(Field.Value)">
        <span class="money @context.Type.ToString().ToLower()">@context.Value.ToString("$#,##0.00")</span>
    </TemplateColumn>
</QuickGrid>

@code
{
    private IQueryable<Transaction>? _transactions;

    protected override Task OnInitializedAsync()
    {
        _transactions = Data.Transactions;

        return Task.CompletedTask;
    }

    private void Add_Click()
    {
        NavigationManager.NavigateTo("/add");
    }

    private void Import_Click()
    {
        NavigationManager.NavigateTo("/import");
    }
}