@page "/transactions"
@inject DataSource Data
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore;

<Nav ShowHome="false" Title="Transactions" />

<Button @onclick="Add_Click">Add Transaction</Button>
<Button @onclick="Import_Click">Import</Button>
<Button @onclick="Export_Click">Export</Button>
<Button style="float:right" @onclick="Report_Click">Report</Button>

<div class="grid">
    <QuickGrid Items="_transactions" @ref="_grid">
        <PropertyColumn Property="t => t.Date" Format="dd MMM yyyy" Sortable="true" IsDefaultSort="SortDirection.Descending" />
        <TemplateColumn Title="@nameof(Field.Type)">
            <span class="@context.Type.ToString().ToLower()">@context.Type</span>
        </TemplateColumn>
        <PropertyColumn Property="t => t.Symbol" />
        <TemplateColumn Title="@nameof(Field.Quantity)" Align="Align.Right">
            <span class="@context.Type.ToString().ToLower()">@context.Quantity.ToString("0.####")</span>
        </TemplateColumn>
        <TemplateColumn Title="@nameof(Field.Value)" Align="Align.Right">
            <span class="money @context.Type.ToString().ToLower()">@context.Value.ToString("$#,##0.00")</span>
        </TemplateColumn>
        <TemplateColumn>
            <Button @onclick="() => Edit_Click(context)">Edit</Button>
            <Button @onclick="() => Delete_Click(context)">Delete</Button>
        </TemplateColumn>
    </QuickGrid>
</div>
