@page "/"
@page "/transactions"
@inject DataSource Data
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore;

<Nav ShowHome="false" Title="Transactions" />

<button @onclick="Add_Click">Add Transaction</button>
<button @onclick="Import_Click">Import</button>
<button @onclick="Export_Click">Export</button>

<div class="grid">
    <QuickGrid Items="_transactions" @ref="_grid">
        <PropertyColumn Property="t => t.Date" Format="dd MMM yyyy" Sortable="true" IsDefaultSort="SortDirection.Descending" />
        <PropertyColumn Property="t => t.Type" />
        <PropertyColumn Property="t => t.Symbol" />
        <TemplateColumn Title="@nameof(Field.Quantity)" Align="Align.Right">
            <span class="quantity @context.Type.ToString().ToLower()">@context.Quantity.ToString("0.####")</span>
        </TemplateColumn>
        <TemplateColumn Title="@nameof(Field.Value)" Align="Align.Right">
            <span class="money @context.Type.ToString().ToLower()">@context.Value.ToString("$#,##0.00")</span>
        </TemplateColumn>
        <TemplateColumn>
            <button @onclick="() => Edit_Click(context)">Edit</button>
            <button @onclick="() => Delete_Click(context)">Delete</button>
        </TemplateColumn>
    </QuickGrid>
</div>
